* {
   box-sizing: border-box;
   margin:0;
   padding:0;  
}
   

body {
  font-family: "Inconsolata", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

footer {
  font-family: "Inconsolata", sans-serif;
  font-weight: 200;
  font-size:9px;
  line-height: 1.5;
  background: #3C2344;
  color:#CE966F;
  
  
}

body,
h1,
h2,
h3,
p {
  margin:0;
}


img {
  width:100%;
  
}


.container {
  margin: auto;
  width: min(90%, 70.5rem);
}

.text-center{
  text-align: center;
  align-items: center;

}

header, 
section {
  padding: 1rem 0;
  
}

header {
  background-color:#3C2344;
}


.banner-area img {
    width:300px;
  
}

.banner-area h2 {
  font-family: "Cookie", cursive;
  font-size:40px;
  margin-bottom:5px;
  color:#CE966F;
}

.banner-area h1 {
  font-family: "Inconsolata", sans-serif;
  font-size:50px;
  color:#CE966F;
}

.banner-area hr {
  height:7px;
  color:#CE966F;
}


.collab-models { 
  color: #5F093D;
  background-color: #EFD3B5;
  padding:30px;
  
}

.artist-gallery h2 {
  color: #5F093D;
 
}

.collab-models img,
.collab-models p { 
   padding:30px;
  
}


.materials-artist img {
 
      border:2px solid #fff;
      box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
     
}


.footer-area img {
  width:20%;
}


